<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    //build:css css/all.css
    link(rel="stylesheet", href="tmp/fonts.css")
    link(rel="stylesheet", href="tmp/style.css")
    //endbuild
body.page
    .header#header
        .container
            .row
                .row__col.row__col_xs_12
                    .header__logo
                    .nav
                        .nav__toggle#nav__toggle
                           .nav__icon-bar
                           .nav__icon-bar
                           .nav__icon-bar
                        .nav__wrapper#nav__wrapper
                            .nav__close#nav__close
                            .nav__items
                                a.nav__item.nav__item_position_1 Услуги
                                a.nav__item.nav__item_position_2 О компании
                                a.nav__item.nav__item_position_3 Отзывы
                                a.nav__item.nav__item_position_4 Контакты
                                a.nav__item.nav__item_position_5 Статьи
                    .header__right
                        .header__phone.n-deco 
                            |8 (914) 432-18-18
                        .callme.btn Заказать звонок
    .offer#offer
        .offer__wrapper
            .offer__title.offer__title_text_before Получите Юридическую помощь Прямо сейчас
            .offer__title Консультации и документы от ведущих юристов в удобном формате
            //- .offer__address с. Чалтырь, ул. 7-я Линия, д. 7A
            .offer__btn Записаться на консультацию
            
    .trigger
        .container
            .row
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_1.png").trigger__icon
                        .trigger__title 5 лет - минимальный<br>стаж юристов
                        .trigger__text.
                            В нашей компании работают только опытные, узкоспециализированные юристы и адвокаты. Они проведут 
                            детальный правовой анализ Вашего дела и подскажут Вам правильное 
                            решение
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_2.png").trigger__icon
                        .trigger__title Гарантия<br> результата
                        .trigger__text.
                            Мы дорожим своей репутацией и всегда доводим до клиента честную и 
                            объективную информацию о 
                            перспективах дела
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_3.png").trigger__icon
                        .trigger__title Персональный<br> специалист
                        .trigger__text.
                            Каждому клиенту назначается 
                            персональный юрист. Он держит на контроле работу с Вашим делом и 
                            оказывает полное сервисное 
                            сопровождение
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_4.png").trigger__icon
                        .trigger__title Полная<br> конфиденциальности
                        .trigger__text.
                            Мы заботимся о вашей 
                            конфиденциальности и будем 
                            прикладывать все необходимые усилия для защиты вашей персональной 
                            информации

    .action
        .container
            .row
                .row__col.row__col_xs_10.row__col_xs-offset_1
                    .form
                        .form__title Оставьте заявку  на Бесплатную онсультацию
                        .row
                            .row__col.row__col_xs_12.row__col.row__col_sm_6.row__col.row__col_md_4
                                input(placeholder="Введите Ваше имя").input.input_name.input_icon
                            .row__col.row__col_xs_12.row__col_sm_6.row__col_md_4
                                input(placeholder="Введите Ваш телефон").input.input_phone.input_icon
                            .row__col.row__col_xs_12.row__col_md_4
                                .form__btn.btn Отправить
    
    //- Услуги 
    

    //.causes
        .causes__wrapper
            .causes__title 
                span.causes__namber 5 
                | причин почему 
                span.causes__namber 223 
                | клиента выбрали нас
            .container
                .row
                    .row__col.row__col_xs_12.row__col_sm_6.row__col_md_5
                        .list
                            .list__title В других компаниях
                            .list__item 1. Вашим делом может заниматься студент без стажа работы
                            .list__item 2. Отсутствие результата при полной оплате за услуги
                            .list__item 3. Присутствуют скрытые платежи
                            .list__item 4. Срок в 2–3 раза выше заявленного
                            .list__item 5. Введение в заблуждение относительно перспектив дела
                    .row__col.row__col_xs_12.row__col_sm_6.row__col_md_5.row__col_md-offset_2
                        .list
                            .list__title В нашей компании
                            .list__item 1. Минимальный стаж юриста — 6 лет
                            .list__item 2. Мы не берем с Вас денег, если не можем помочь
                            .list__item 3. Цена фиксирована и понятна с самого начала
                            .list__item 4. Мы работаем точно в срок
                            .list__item 5. Гарантия результата
    .working
        .container
            .working__title Как мы работаем
            .row
                .row__col.row__col_xs_12.row__col_md_3
                    .step
                        .step__title Заявка на консультацию
                        .step__text Отправьте заявку с сайта или обратитесь в наш офисф
                        .btn Оставить заявку
                .row__col.row__col_xs_12.row__col_md_1
                    .working__arrow
                .row__col.row__col_xs_12.row__col_md_4
                    .step
                        .step__title Заключение договора
                        .step__text Мы заключаем договор и производим детальный анализ Вашего дела, далее происходит назначение персонального юрист
                .row__col.row__col_xs_12.row__col_md_1
                    .working__arrow
                .row__col.row__col_xs_12.row__col_md_3
                    .step
                        .step__title Конечный результат
                        .step__text Мы успешное представление Ваших интересов. Вы становитесь ещё одним благодарным клиентом

    //- Отзывы


    //- .row
    .footer
        | © 2016 ЗаконЪ. Юридическая компания. Все права защищены.
        br
        | Использование материалов сайта разрешено только с согласия правообладателя.


    //- .maps
    //- script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=OHQL07SyRZQs8McMnL8OHW2WRkEoDVTS&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
    //- //build:js js/all.js
    script(src="tmp/offer.js")
    script(src="tmp/nav.js")
    //endbuild