<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    //build:css css/all.css
    link(rel="stylesheet", href="tmp/fonts.css")
    link(rel="stylesheet", href="tmp/modal.css")
    link(rel="stylesheet", href="tmp/style.css")
    //endbuild
body.page
    .header#header
        .container
            .row
                .row__col.row__col_xs_12
                    .logo
                        .logo__img
                        .logo__text Адвокатский<br>кабинет
                    .nav
                        .nav__toggle#nav__toggle
                           .nav__icon-bar
                           .nav__icon-bar
                           .nav__icon-bar
                        .nav__wrapper#nav__wrapper
                            .nav__close#nav__close.close
                            .nav__items
                                a.nav__item.nav__item_position_1.nav__item_active  Услуги
                                a.nav__item.nav__item_position_2 О компании
                                a.nav__item.nav__item_position_3 Отзывы
                                a.nav__item.nav__item_position_4 Контакты
                                a.nav__item.nav__item_position_5 Статьи
                    .header__right
                        .header__phone.n-deco 
                            |8 (914) 432-18-18
                        .callme.btn Заказать звонок
    .offer#offer
        .offer__wrapper
            .offer__title.offer__title_text_before Получите Юридическую помощь Прямо сейчас
            .offer__title Консультации и документы от ведущих юристов в удобном формате
            //- .offer__address с. Чалтырь, ул. 7-я Линия, д. 7A
            .offer__btn Записаться на консультацию
            
    .trigger
        .container
            .row
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_1.png").trigger__icon
                        .trigger__title 5 лет - минимальный<br>стаж юристов
                        .trigger__text.
                            В нашей компании работают только опытные, узкоспециализированные юристы и адвокаты. Они проведут 
                            детальный правовой анализ Вашего дела и подскажут Вам правильное 
                            решение
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_2.png").trigger__icon
                        .trigger__title Гарантия<br> результата
                        .trigger__text.
                            Мы дорожим своей репутацией и всегда доводим до клиента честную и 
                            объективную информацию о 
                            перспективах дела
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_3.png").trigger__icon
                        .trigger__title Персональный<br> специалист
                        .trigger__text.
                            Каждому клиенту назначается 
                            персональный юрист. Он держит на контроле работу с Вашим делом и 
                            оказывает полное сервисное 
                            сопровождение
                .row__col.row__col_xs_12.row__col_sm_6.row__col_lg_3
                    .trigger__item
                        img(src="img/trigger__icon_number_4.png").trigger__icon
                        .trigger__title Полная<br> конфиденциальности
                        .trigger__text.
                            Мы заботимся о вашей 
                            конфиденциальности и будем 
                            прикладывать все необходимые усилия для защиты вашей персональной 
                            информации

    
    .services
        .services__wrapper
            .services__title Услуги
            .container
                .row
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_1.png").service__icon
                            .service__text Cемейные споры
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_2.png").service__icon
                            .service__text Узаконивание самодельных строений
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_4.png").service__icon
                            .service__text Жилищные вопросы
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_3.png").service__icon
                            .service__text Трудовые споры
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_5.png").service__icon
                            .service__text Земельные споры
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_11.png").service__icon
                            .service__text Наследование
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_6.png").service__icon
                            .service__text Представительство в суде
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_7.png").service__icon
                            .service__text Уголовные дела
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_8.png").service__icon
                            .service__text Обжалование приговора
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_9.png").service__icon
                            .service__text Юридическое сопровождение бизнеса
                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_10.png").service__icon
                            .service__text Споры с банками и страховыми компаниями

                    .row__col.row__col_xs_12.row__col_sm_4.row__col_md_3
                        .service
                            img(src="img/service__icon_12.png").service__icon
                            .service__text Прочие вопросы

    

    //-.causes
        .causes__wrapper
            .causes__title 
                span.causes__namber 5 
                | причин почему 
                span.causes__namber 223 
                | клиента выбрали нас
            .container
                .row
                    .row__col.row__col_xs_12.row__col_sm_6.row__col_md_5
                        .list
                            .list__title В других компаниях
                            .list__item 1. Вашим делом может заниматься студент без стажа работы
                            .list__item 2. Отсутствие результата при полной оплате за услуги
                            .list__item 3. Присутствуют скрытые платежи
                            .list__item 4. Срок в 2–3 раза выше заявленного
                            .list__item 5. Введение в заблуждение относительно перспектив дела
                    .row__col.row__col_xs_12.row__col_sm_6.row__col_md_5.row__col_md-offset_2
                        .list
                            .list__title В нашей компании
                            .list__item 1. Минимальный стаж юриста — 6 лет
                            .list__item 2. Мы не берем с Вас денег, если не можем помочь
                            .list__item 3. Цена фиксирована и понятна с самого начала
                            .list__item 4. Мы работаем точно в срок
                            .list__item 5. Гарантия результата
    .working
        .container
            .working__title Как мы работаем
            .row
                .row__col.row__col_xs_12.row__col_md_3
                    .step
                        .step__title Заявка на консультацию
                        .step__text Отправьте заявку с сайта или обратитесь в наш офисф
                        .btn.open-modal-order Оставить заявку
                .row__col.row__col_xs_12.row__col_md_1
                    .working__arrow
                .row__col.row__col_xs_12.row__col_md_4
                    .step
                        .step__title Заключение договора
                        .step__text Мы заключаем договор и производим детальный анализ Вашего дела, далее происходит назначение персонального юрист
                .row__col.row__col_xs_12.row__col_md_1
                    .working__arrow
                .row__col.row__col_xs_12.row__col_md_3
                    .step
                        .step__title Конечный результат
                        .step__text Мы успешное представление Ваших интересов. Вы становитесь ещё одним благодарным клиентом

    //-.action
        .container
            .row
                .row__col.row__col_xs_10.row__col_xs-offset_1
                    .form
                        .form__title Оставьте заявку  на Бесплатную онсультацию
                        .row
                            .row__col.row__col_xs_12.row__col.row__col_sm_6.row__col.row__col_md_4
                                input(placeholder="Введите Ваше имя").input.input_name.input_icon
                            .row__col.row__col_xs_12.row__col_sm_6.row__col_md_4
                                input(placeholder="Введите Ваш телефон").input.input_phone.input_icon
                            .row__col.row__col_xs_12.row__col_md_4
                                .form__btn.btn Отправить


    //- Отзывы

    .map
        #map
        .map__zoom-in#zoom-in
        .map__zoom-out#zoom-out
        .map__footer с. Чалтырь, ул. 7-я Линия, д. 7A


    //-.maps
    script.
        function initMap() {

            var main_color = '#c2984f', //основной цвет
                saturation_value= -25, //насыщенность
                brightness_value= 1; //яркость

            var style= [ 
                {
                    //Насыщенность обозначений на карте
                    elementType: "labels",
                    stylers: [
                        {saturation: saturation_value}
                    ]
                },  
                {   //Скрываем обозначения станций метро, вокзалов, аэропортов и прочих транспортных узов на карте
                    featureType: "poi",
                    elementType: "labels",
                    stylers: [
                        {visibility: "off"}
                    ]
                },
                {
                    //Скрываем обозначение дорог на карте
                    featureType: 'road.highway',
                    elementType: 'labels',
                    stylers: [
                        {visibility: "off"}
                    ]
                }, 
                {   
                    //Скрываем обозначение локальных дорог
                    featureType: "road.local", 
                    elementType: "labels.icon", 
                    stylers: [
                        {visibility: "off"} 
                    ] 
                },
                { 
                    //Скрываем обозначение магистрали на карте
                    featureType: "road.arterial", 
                    elementType: "labels.icon", 
                    stylers: [
                        {visibility: "off"}
                    ] 
                },
                {
                    //Скрываем дорожные обозначения на карте
                    featureType: "road",
                    elementType: "geometry.stroke",
                    stylers: [
                        {visibility: "off"}
                    ]
                }, 
                //Стили для разных элементов на карте
                { 
                    featureType: "transit", 
                    elementType: "geometry.fill", 
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                }, 
                {
                    featureType: "poi",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "poi.government",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "poi.sport_complex",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "poi.attraction",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "poi.business",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "transit",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "transit.station",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "landscape",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                    
                },
                {
                    featureType: "road",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                },
                {
                    featureType: "road.highway",
                    elementType: "geometry.fill",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                }, 
                {
                    featureType: "water",
                    elementType: "geometry",
                    stylers: [
                        { hue: main_color },
                        { visibility: "on" }, 
                        { lightness: brightness_value }, 
                        { saturation: saturation_value }
                    ]
                }
            ];

           map = new google.maps.Map(document.getElementById('map'), {
             center: {
                lat: 47.228534, 
                lng: 39.754988
            },
             zoom: 18,
             mapTypeControl: false,
             panControl: false,
             zoomControl: false,
             mapTypeControl: false,
             streetViewControl: false,
             mapTypeId: google.maps.MapTypeId.ROADMAP,
             scrollwheel: false,
             styles: style
           });

           var marker = new google.maps.Marker({
                position: {
                    lat: 47.228534, 
                    lng: 39.754988
                },
               map: map,
               visible: true,
                icon: 'img/map__marker.png',
                title: "lex61.ru - главный офис"
           });

            var controlUIzoomIn= document.getElementById('zoom-in'),
                controlUIzoomOut= document.getElementById('zoom-out');

            google.maps.event.addDomListener(controlUIzoomIn, 'click', function() {
                map.setZoom(map.getZoom()+1)
            });
            google.maps.event.addDomListener(controlUIzoomOut, 'click', function() {
                map.setZoom(map.getZoom()-1)
            });
        }


    script(type="text/javascript" charset="utf-8" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTaMXmyz4qCiQJJlJZw6LlOnA2EEuZjlo&callback=initMap" async defer)


    .footer
        | © 2016 все права защищены.
        br
        | Использование материалов сайта разрешено только с согласия правообладателя.

    .modal.modal_theme_grey#modal__callme
        .modal__wrapper
            .modal__dialog
                .close.modal__close
                |dsd
                
    .modal.modal_theme_grey#modal__order
        .modal__wrapper
            .modal__dialog
                .close.modal__close
                |dsd


    //build:js js/all.js
    script(src="tmp/offer.js")
    script(src="tmp/modal.js")
    script(src="tmp/nav.js")
    //endbuild

    script.
        (()=>{

            let modal_callme = new Modal('modal__callme');
            let btns_callme = document.getElementsByClassName('callme');

            for (var i = btns_callme.length - 1; i >= 0; i--) {
                btns_callme[i].addEventListener('click', () => {
                    modal_callme.open();
                })
            }

            let modal_order = new Modal('modal__order');
            let btns_order = document.getElementsByClassName('open-modal-order');

            for (var i = btns_order.length - 1; i >= 0; i--) {
                btns_order[i].addEventListener('click', () => {
                    modal_order.open();
                })
            }
        })()