.modal
    *, :after, :before
        box-sizing border-box
        padding 0
        margin 0
        
    // position fixed
    // left 0
    // top 0
    // height 100%
    // width 100%
    &__wrapper
        display flex
        text-align center
        white-space nowrap
        position fixed
        left 0
        top 0
        height 100%
        width 100%
        z-index 1000
        opacity 0
        visibility hidden
    
    &::after
        display inline-block
        vertical-align middle
        width 0
        height 100%
        content ''

    &_visible
        opacity 1
        visibility visible

    &__dialog
        display inline-block
        vertical-align middle
        z-index 1020
        margin auto

    &__close
        cursor pointer

/////////////////////////

.modal_theme_
    &grey
        
        &.modal_visible
            .modal__wrapper
                transition opacity 300ms 0ms, visibility 0ms 0ms
                opacity 1
                visibility visible
            .modal__dialog
                transition transform 300ms 0ms
                transform translateY(0)
        
        & .modal__wrapper
            transition opacity 300ms 0ms, visibility 0ms 300ms
            opacity 0
            visibility hidden
            background-color rgba(219,216,211,0.6);
        & .modal__close
            width 20px
            height 20px
            position absolute
            right 2px
            top 2px
            background url('../img/close.svg') 50% 50% no-repeat
            background-size 100%
            display inline-block
            z-index 1050 
        & .modal__dialog
            transition transform 300ms 0ms
            transform translateY(-100px)
            background #fff
            padding 24px
            width 90%
            max-width 400px
            min-width 300px
            position relative
