@import 'utilities/reset.styl' 

@require "mixins/grid.styl"
.row
    row()
    col('xs') //Extra small devices 
    @media (min-width 768px)
        col('sm') //Small devices Tablets 
    @media (min-width 992px)
        col('md') //Medium devices Desktops 
    @media (min-width 1200px)
        col('lg') //Large devices Desktops 

.container
    width 100%
    max-width 1200px
    min-width 320px
    margin auto
    
.page
    font-family 'MuseoSans'
    font-weight 300
    font-size 14px
    line-height 1.2em
    overflow auto
    
.header
    z-index 50
    position fixed
    top 0px
    left 0px
    right 0px
    width 100%
    height 60px
    background-color rgb(48, 55, 59)
    border-bottom 2px solid #292f32
    &__phone
        font-weight 500
        font-size 13px
        color #fff
        height 60px
        line-height 60px
        background-image url(../img/callme__icon.png) 
        background-position  left center 
        background-repeat no-repeat
        padding-left 30px
        display none
        @media (min-width 380px)
            display inline-block
            
    &__right
        display inline-block
        float right
        
.nav
    display inline-block
    float right
    @media (min-width 380px)
        float left
    &__wrapper
        display flex
        flex-direction column
        position fixed
        top 0px
        left 0px
        padding 40px 20px
        background rgba(48, 55, 59, 0.8)
        height 100%
        width 100%
        opacity 0
        visibility hidden
        z-index 100
        transition opacity 200ms 0s, visibility 0s 0s
        transition 200ms 200ms
        &_active
            transition opacity 200ms 0s, visibility 250ms 0s
            opacity 1
            visibility visible
            .nav__item
                opacity 1 !important 
                left 0px !important 
                top 0px !important 

        .nav__item
            position relative
            opacity 0
            left -20px
            top -20px
    &__items
        margin auto
    &__toggle
        display block
        width 30px
        height 60px
        cursor pointer
        padding-top 21px
    &__icon-bar
        width 100%
        height 2px
        background-color #fff
        margin-bottom 6px
    @media (min-width 980px)
        &__wrapper
            display block
            position static
            top 0px
            left 0px
            padding 0px
            background none
            opacity 1
            visibility visible
        &__toggle
        &__close
            display none !important   
        &__item
            display inline-block !important
            line-height 60px !important
            height 60px !important
            margin 0px !important
            margin-right 30px !important
            text-align left !important
            font-size 12px !important
            opacity 1 !important
            left 0px !important
            top 0px !important
    &__close
        display block
        position absolute
        top 15px
        right 15px
        width 30px
        height 30px
        cursor pointer
        
    &__item
        &:after
            content ''
            display table
            clear both
        display table
        text-align center
        text-transform uppercase
        cursor pointer
        font-size 16px
        margin auto
        margin-bottom 20px
        height 22px
        font-weight 500
        color #fafafa
        transition all 300ms ease
        border-bottom 0px solid rgba(0,0,0,0)
        &:hover
            border-bottom 3px solid #fafafa
        &_active
            border-bottom 3px solid #fafafa
        &_position
            transition = 450ms
            &_1
                transition transition, transition
            &_2
                transition transition+50, transition+50
            &_3
                transition transition+100, transition+100
            &_4
                transition transition+150, transition+150
            &_5
                transition transition+200, transition+200

.logo
    margin-right 40px
    float left
    &__img
        background url('../img/logo.svg')
        background-repeat no-repeat
        width 50px
        height 60px
        background-position center
        background-size 50px
        display inline-block
        margin-right 10px
        float left
    &__text
        padding-top 15px
        text-transform uppercase
        float left
        height 60px
        color #fafafa 
        font-size 14px
        line-height 1.2em
        font-weight 500
        // border-right 2px solid #d19948
        // padding-right 20px

.btn
    background-color #de4544
    transition all 0.55s ease 
    cursor pointer
    font-weight 300
    font-size 12px
    line-height 20px
    color #fff
    border-radius 3px
    padding 3px 12px 2px 12px
    display inline-block 
    &:hover
        background-color #b42524      
.callme
    //padding 3px 12px 2px 42px
    display none
    // background-image url(../img/callme__icon.png) 
    // background-position  10px center 
    // background-repeat no-repeat
    margin-left 15px
    font-weight 300
    @media (min-width 580px)
        display inline-block
 
.offer
    display flex
    flex-direction column
    width 100%
    height 100%
    min-height 400px
    background-color #607677 
    background-image url('../img/offer__overlay.png'), 
        linear-gradient(0deg, rgba(0, 0, 0, .7) 10px, rgba(255, 255, 255, .3)),
        linear-gradient(60deg, rgba(87, 197, 212, 0.4), 5%, rgba(89, 197, 209, 0.2) ), 
        url('../img/offer__bg.jpg')
    background-repeat repeat, no-repeat, no-repeat, no-repeat
    background-position top left, center center, bottom top, bottom center
    background-size 50px 50px, cover, cover, cover
    background-attachment fixed, scroll, fixed, fixed
    &__wrapper
        margin auto
        // text-shadow 1px 1px 1px rgba(0, 0, 0, .1)
        color #fff 
    &__title
        text-shadow 1px 1px 5px #5b7d80
        font-size 20px
        line-height 40px
        font-weight 300
        text-align center
        text-transform uppercase
        &_text_before
            padding-top 60px
            padding-bottom 5px
            font-size 30px
            line-height 45px
    &__address
        font-size 18px
        line-height 18px 
        height 32px
        padding-left 30px
        padding-top 12px
        margin 60px auto 0px
        display table
        background url('../img/offer__address.png') left center no-repeat
        font-weight 300
    &__btn 
        font-size 16px
        line-height 1em
        font-weight 100
        padding 16px 20px 14px 20px
        border 1px solid #fff
        color #fff
        border-radius 3px
        display table
        margin 35px auto 0
        text-transform uppercase
        cursor pointer
        transition all 0.55s ease
        background-color rgba(255, 255, 255, .06)
        &:hover
            background-color #fff
            color #000
        
.trigger
    width 100%
    padding 40px 0px 15px 0px
    // margin 0px -15px
    background #fff
    // background-image url('../img/offer__overlay.png')
    // background-repeat repeat
    // background-position top left
    // background-size 80px 80px
    // background-attachment fixed
    &__title
        font-size 14px
        line-height 18px
        font-weight 700
        color #30373b
        display table
        padding-top 10px
    &__text
        margin-top 10px
        font-size 12px
        line-height 1.4em
        color #111415
        font-weight 300
    &__icon
        margin-right 15px
        ////@media (min-width 1070px)
        float left
    
    &__item
        margin-bottom 20px


.services
    // border-top 2px solid #afb1b1
    // border-bottom 2px solid #afb1b1
    width 100%
    background-color #fff 
    background-image url('../img/offer__overlay.png'), 
        linear-gradient( to bottom, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.2) 20%, rgba(255,255,255,0.2) 80%, rgba(0,0,0,0.3) 100% ),
        url('../img/causes__bg.jpg')
    background-repeat repeat, no-repeat, no-repeat
    background-position top left, bottom top, center center
    background-size 100px 100px, cover, cover
    background-attachment fixed, fixed, fixed
    &__wrapper
         padding 50px 0px 20px 0px
         background-color rgba(255, 255, 255, .3)
         
.service
    background-color rgba(255,255,255,0.82)
    padding 0px 12px 0px 12px 
    margin-bottom 30px
    display flex
    align-items center
    height 70px
    cursor pointer
    transition all 300ms ease
    box-shadow 0px 0px 2px 0px rgba(0,0,0,.01)
    &:hover
        background-color rgba(255,255,255,1)
        box-shadow 0px 0px 10px 0px rgba(0,0,0,.1)
        .service__icon
            opacity 1
    &__icon
        margin-right 12px
        height 40px
        transition all 500ms ease
        opacity .8
    &__text
        font-size 15px
        line-height 1.2em
        color #30373b
        font-weight 500

.causes
    // border-top 2px solid #afb1b1
    // border-bottom 2px solid #afb1b1
    width 100%
    background-color #fff 
    background-image url('../img/offer__overlay.png'), 
        linear-gradient( to bottom, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.2) 20%, rgba(255,255,255,0.2) 80%, rgba(0,0,0,0.3) 100% ),
        url('../img/causes__bg.jpg')
    background-repeat repeat, no-repeat, no-repeat
    background-position top left, bottom top, center center
    background-size 100px 100px, cover, cover
    // background-attachment fixed, fixed, fixed
    &__wrapper
         padding 90px 0px
         background-color rgba(255, 255, 255, .3)
    &__title
        text-align center
        text-transform uppercase
        color #c2984f
        font-size 25px
        line-height 1.2em
        font-weight 700
        margin-bottom 60px
    &__namber
        font-size 30px
    
.list
    &__title
        text-align center
        font-weight 900
        font-size 18px
        line-height 1.2em
        color #30373b
        margin-bottom 25px
        margin-top 20px
    &__item
        font-size 16px
        font-weight 500
        color #000
        line-height 1.2em
        margin-bottom 20px
        
.working
    width 100%
    padding 60px 0px 80px
    background #fff

    &__title
        text-transform uppercase
        font-size 26px 
        line-height 1em
        margin-bottom 40px
        color #000
        font-weight 500
        text-align center
    &__arrow
        background url('../img/working__arrow.png') center no-repeat
        width 65px
        height 35px
        margin 30px auto
        @media (min-width 992px)
            transform rotate(-90deg)
    
.step
    max-width 380px
    margin auto
    text-align center
    &__title
        color #000
        font-size 15px 
        line-height 1.1em
        font-weight 700
        margin-bottom 10px
    &__text
        font-size 14px
        line-height 1.3em
        font-weight 300
        color #000
        margin-bottom 10px

.form
    width 100%
    background #eeefef
    border-radius 3px
    padding 30px 20px
    &__title
        content ''
        line-height 1.5em
        font-weight 500
        color #020202
        text-align center
        text-transform uppercase
        font-size 18px
        margin-bottom 30px
    &__btn
        height 40px
        line-height 40px
        width 100%
        padding 0px
        text-align center
        font-weight 700

.action
    width 100%
    background #455658
    padding 50px 0px

.input
    color #020202
    font-size 14px
    height 40px
    width 100%
    text-align left
    border-radius 2px
    border 1px solid #d5d5d5
    box-shadow inset 0px 2px 8px rgba(162, 162, 162, 0.3)
    background-color #fff
    &_icon
        background-repeat no-repeat
        background-position 10px center
        padding-left 45px
        padding-right 5px
    &_name
        background-image url(../img/input_name.png)
    &_phone
        background-image url(../img/input_phone.png)
    
placeholder = #bfbfbf
.input::-webkit-input-placeholder
    color placeholder
.input::-moz-placeholder
    color placeholder
.input:-moz-placeholder
    color placeholder
.input:-ms-input-placeholder
    color placeholder
    
.footer
    background-color #f4f4f4
    color #7d7d7d
    padding 20px 30px 8px 30px
    display table
    width 100%
    margin 0 auto
    // margin-top 20px
    // float right
    font-size 12px
    line-height 16px
    font-weight 300
    text-align center
    
.wall
    padding 30px
    background-color #fff
    border-radius 2px
    
.layout
    &__wrapper
        position relative
        // background-color #ddd
        padding 0
        padding-bottom 50px
            
        background-color #455658
        background-image linear-gradient(0deg, rgba(0, 0, 0, .1) 10px, rgba(255, 255, 255, .1)),
            linear-gradient(60deg, rgba(89, 197, 209, 0.2) 30%, rgba(0, 228, 255, 0.2)) 
        background-repeat no-repeat, no-repeat
        background-position center center, center center
        background-size cover, cover
        background-attachment fixed, fixed
    &__container
        width 100%
        max-width 980px
        min-width 320px
        margin 0px auto
    &__content
        color #333
        // position relative
        // top 200px
        // width 100%
        // max-width 940px
        // min-width 320px
        // margin 0px auto
        // padding 30px
        // background-color #fff
        // border-radius 1px
        line-height 1.5em
        
        h1
        h2
        h3
        h4
            font-weight 700
            padding 0
            margin 0
        h1
            font-size 24px
            margin-bottom 20px
        h2
            font-size 20px
            margin-bottom 20px
        h3  
            font-size 18px
            margin-bottom 15px
        h4  
            font-size 16px
            margin-bottom 10px
        p
            margin-bottom 30px
            
        ul
            margin-bottom 30px
            list-style-type none
            li
                position relative
                padding-left 15px
                line-height 20px
                // height 25px
                margin-bottom 5px
                &:before
                    content ''
                    display block
                    position absolute
                    top 7px
                    left 0
                    width 6px 
                    height 6px 
                    background-color #30373b
                    border-radius 6px
                
                
        hr
            width 100%
            height 1px 
            background-color #ddd
            margin 30px 0   
            
        blockquote
            padding-left 20px
            display block
            border-left 5px solid #ddd               
                
    &__title
        // position absolute
        // top 0px
        // left 0px
        width 100%
        // background-color #607677 
        // background-image url('../img/offer__overlay.png'), 
        //     linear-gradient(0deg, rgba(0, 0, 0, .7) 10px, rgba(255, 255, 255, .3)),
        //     linear-gradient(60deg, rgba(87, 197, 212, 0.4), 5%, rgba(89, 197, 209, 0.2) ), 
        //     url('../img/offer__bg.jpg')
        // background-repeat repeat, no-repeat, no-repeat, no-repeat
        // background-position top left, center center, bottom top, bottom center
        // background-size 50px 50px, cover, cover, cover
        // background-attachment fixed, scroll, fixed, fixed
        
        color #fff
        font-size 36px
        line-height 42px
        font-weight 300
        text-align left
        // text-transform uppercase
        padding 110px 0 50px 30px
        
.close
    background url('../img/close.svg') 50% 50% no-repeat
    background-size 100%
    


.map
    height 400px
    width 100%
    position relative
    &__footer
        position absolute
        bottom 0px
        width 100%
        // height 40px
        background-color #e4e4e4
        color #31373b
        line-height 1.1em
        font-size 14px
        padding 10px
        text-align center
#map
    height 100%
    
#zoom-in
#zoom-out
    cursor pointer
    position absolute
    z-index 10
    width 30px 
    height 30px 
    background-color #c2984f
    border-radius 20px
    color #31373b
    line-height 30px
    text-align center
    font-weight 900
    font-size 16px
    
#zoom-in
    top 10px
    left 10px
#zoom-out
    top 45px
    left 10px